<%- include("../partials/head.ejs") %>
<a href="/courses" class="backBtn">Back</a>

<h2><%= course.name %></h2>
<p><%= course.dept_id + course.course_id %></p>
<p><%= course.desc %></p>

<% if(user.permissions.includes("course.edit")) { %>
	<button onclick="open_deleteCourse()" name="deleteCourseBtn">Delete</button>
	<button onclick="open_editCourse()" name="editCourseBtn">Edit</button>
<% } %>
<%- include("../partials/foot.ejs") %>