<%- include("../partials/head.ejs") %>

<h1>Course Details</h1>

<ul id="authNav">
	<% if(user) { %>

<h3><%= course.name %></h3>
<p><%= course.dept_id + course.course_id %></p>
<p><%= course.desc %></p>

<% if(user.permissions.includes("course.edit")) { %>
	<button onclick="open_deleteCourse()" name="deleteCourseBtn">Delete</button>
	<button onclick="open_editCourse()" name="editCourseBtn">Edit</button>
<% } %>

<% } else { %>
	<h3>Please log in to manage courses.</h3>
<% } %>
</ul>

<%- include("../partials/foot.ejs"); %>