<html lang="en">
	<%- include("../partials/head.ejs"); %>

	<body>
		<%- include("../partials/nav.ejs"); %>
		<%- include("../partials/sidebar.ejs"); %>
		<div class="content">
			<%- include("../partials/new_course.ejs"); %>
			<%- include("../partials/edit_course.ejs"); %>
			<%- include("../partials/remove_course_confirm.ejs"); %>

			<a href="/courses" class="backBtn">Back</a>

			<h2><%= course.name %></h2>
			<p><%= course.dept_id + course.course_id %></p>
			<p><%= course.desc %></p>

			<button onclick="openRemoveCourseConfirm()" name="removeCourseBtn">Delete</button>
			<button onclick="openEditCourse()" name="editCourseBtn">Edit</button>
		</div>
		<%- include("../partials/footer.ejs"); %>
	</body>
</html>