<%- include("../partials/head.ejs") %>


<h2>My Classes</h2>

<div class="scrollable">
	<table>
		<thead>
			<th>Code</th>
			<th>Name</th>
			<th>Credits</th>
			<th></th>
		</thead>

		<!--Load in courses & insert them into table-->
		<% if (courses.length > 0) { %>
  			<% courses.forEach(course => { %>
      			<tr>
      				<td><a href="/courses/<%= course._id %>" class="singleCourse"><%= course.dept_id + course.course_id %></a></td>
      				<td><a href="/courses/<%= course._id %>" class="singleCourse"><%= course.name %></a></td>
      				<td><%= course.credit_hours %></td>
      				<td><form action="/courses/register/delete/<%= course._id %>/<%= user._id %>" method="POST"><button type="submit">Remove</button></form></td>
      			</tr>
  			<% }); %>
  		<% } %>
  	</table>
</div>
<%- include("../partials/foot.ejs") %>