<html lang="en">
	<%- include("./partials/head.ejs"); %>

	<body>
		<%- include("./partials/nav.ejs"); %>
		<%- include("./partials/sidebar.ejs"); %>
		<div class="content">
			<%- include("./partials/new_course.ejs"); %>
		</div>

		<div id="errorMessage">
			<h1>OOOPS! That page doesn't exist!</h1>
		</div>

		<%- include("./partials/footer.ejs"); %>
	</body>
</html>